/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
body {
  color: #333333; }

header {
  position: relative;
  background: #333333; }
  header .logo {
    padding: 0;
    margin-top: -35px; }
  header .links-block {
    position: relative;
    height: 50px;
    background-color: #FFFFFF; }
    header .links-block .logo-support {
      margin-top: 10px; }
      header .links-block .logo-support p {
        float: left;
        line-height: 2.7;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
        color: #999999; }
      header .links-block .logo-support img {
        margin-left: 15px;
        max-width: 110px; }
    header .links-block .links {
      position: relative;
      float: right;
      margin-top: 10px;
      padding: 0;
      list-style-type: none;
      z-index: 1; }
      header .links-block .links li {
        float: left;
        margin: 0 30px 0 0;
        padding: 5px 0 5px 35px; }
        header .links-block .links li.location {
          background: url("../images/location-icon.svg") no-repeat center left 5px;
          background-size: 16px 20px; }
        header .links-block .links li.signin {
          background: url("../images/signin-icon.svg") no-repeat center left 5px;
          background-size: 23px 20px; }
        header .links-block .links li.signup {
          background: url("../images/signup-icon.svg") no-repeat center left 5px;
          background-size: 23px 20px; }
        header .links-block .links li.advertisers {
          background: url("../images/advertisers-icon.svg") no-repeat center left 5px;
          background-size: 23px 20px; }
        header .links-block .links li a {
          font-size: 12px;
          color: #FF5400;
          font-weight: bold; }
          header .links-block .links li a img {
            float: left;
            margin-right: 5px; }
        header .links-block .links li .dropdown-menu {
          min-width: 0;
          padding: 0 0 10px 0;
          -webkit-border-radius: 0;
          -khtml-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-radius: 0; }
          header .links-block .links li .dropdown-menu li {
            margin: 0;
            padding: 0;
            float: none; }
            header .links-block .links li .dropdown-menu li a {
              font-weight: 300; }
        header .links-block .links li:last-child {
          margin-right: 0; }
    header .links-block:before {
      position: absolute;
      content: '';
      top: 0;
      left: -50px;
      width: 95px;
      height: 50px;
      -webkit-transform: skew(60deg);
      -moz-transform: skew(60deg);
      -o-transform: skew(60deg);
      background: #FFFFFF; }
  header .advert-count {
    float: left; }
    header .advert-count p {
      margin: 15px 15px 0;
      font-size: 9px;
      line-height: 1.2;
      color: #CCCCCC; }
      header .advert-count p span {
        font-weight: bold; }
  header nav.navbar-default {
    background: none;
    border: none;
    margin: 0; }
  header nav #main-menu {
    margin-top: 10px;
    list-style-type: none; }
    header nav #main-menu li {
      border: solid 2px transparent;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
      header nav #main-menu li a {
        color: #FFFFFF;
        padding: 3px 10px 5px;
        text-decoration: none;
        text-transform: uppercase; }
        header nav #main-menu li a .caret {
          -webkit-transition: all 0.2s;
          -khtml-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
        header nav #main-menu li a:hover, header nav #main-menu li a:active, header nav #main-menu li a:focus {
          background: none; }
          header nav #main-menu li a:hover:active .caret, header nav #main-menu li a:hover:focus .caret, header nav #main-menu li a:active:active .caret, header nav #main-menu li a:active:focus .caret, header nav #main-menu li a:focus:active .caret, header nav #main-menu li a:focus:focus .caret {
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
      header nav #main-menu li .dropdown-menu {
        left: 0;
        top: 38px;
        background: #333333; }
        header nav #main-menu li .dropdown-menu li {
          -webkit-border-radius: 0;
          -khtml-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-radius: 0; }
          header nav #main-menu li .dropdown-menu li:hover {
            background: #00C2C2; }
          header nav #main-menu li .dropdown-menu li a {
            color: #FFFFFF; }
      header nav #main-menu li.extra {
        border: solid 2px #FF5400; }
        header nav #main-menu li.extra.advert {
          padding-left: 25px;
          background: url("../images/plus-icon.svg") no-repeat center left 15px;
          background-size: 10px 10px; }
        header nav #main-menu li.extra.open:hover, header nav #main-menu li.extra.open:active, header nav #main-menu li.extra.open:focus {
          background: none; }
        header nav #main-menu li.extra a {
          color: #FF5400; }

.block {
  width: 100%;
  padding: 25px 0; }
  .block .block-header {
    margin-bottom: 15px; }
    .block .block-header .title {
      float: left;
      font-size: 28px;
      font-weight: bold;
      color: #FF5400; }
    .block .block-header ul {
      margin-top: 15px;
      float: left;
      list-style-type: none; }
      .block .block-header ul li {
        float: left;
        margin-right: 15px; }
        .block .block-header ul li a {
          display: block;
          float: left;
          font-size: 14px;
          color: #333333;
          font-weight: bold;
          text-decoration: none; }
          .block .block-header ul li a span {
            display: inline-block;
            width: 18px;
            height: 18px;
            font-size: 12px;
            color: #FFFFFF;
            background-color: #FF5400;
            border-radius: 50%;
            text-align: center; }
        .block .block-header ul li:last-child {
          margin-right: 0; }
  .block .block-content .row:last-child {
    margin-bottom: 0; }
  .block .block-content .block-content_item {
    margin-bottom: 25px; }
    .block .block-content .block-content_item .img {
      position: relative; }
      .block .block-content .block-content_item .img img {
        max-width: 100%;
        width: 100%;
        height: auto; }
      .block .block-content .block-content_item .img:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(255, 84, 0, 0.9) url("../images/item-hover.svg") no-repeat center;
        background-size: 70px 50px;
        -webkit-transition: all 0.2s;
        -khtml-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        opacity: 0; }
      .block .block-content .block-content_item .img:hover:after {
        opacity: 1; }
    .block .block-content .block-content_item .price {
      padding: 10px 5px;
      background-color: #333333; }
      .block .block-content .block-content_item .price p {
        margin: 0;
        color: #FFFFFF;
        font-weight: bold; }
    .block .block-content .block-content_item .title {
      display: block;
      color: #333333;
      font-size: 14px;
      font-weight: bold;
      margin: 10px 0 0;
      padding: 0 5px; }
  .block.banner-block img {
    max-width: 100%;
    width: 100%;
    height: auto; }
  .block#banner-first {
    padding-bottom: 0; }
  .block#banner-second {
    padding-top: 0; }

.atmosphere-block {
  min-height: 300px;
  background: url("../images/atmosphere-bg.jpg") no-repeat top 30% center;
  background-size: cover; }
  .atmosphere-block .filter-block {
    margin-top: 50px;
    outline: dotted 1px #000; }

.hot_rent-block {
  background-color: #FF5400; }
  .hot_rent-block .block-header .title {
    text-transform: uppercase;
    color: #FFFFFF; }
  .hot_rent-block .block-header .link {
    display: block;
    float: right;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px; }
  .hot_rent-block .block-content #hot-carousel-generic .carousel-indicators {
    bottom: -20px; }
    .hot_rent-block .block-content #hot-carousel-generic .carousel-indicators li.active {
      background-color: #00C2C2; }
  .hot_rent-block .block-content .item .img {
    position: relative; }
    .hot_rent-block .block-content .item .img img {
      max-width: 100%;
      width: 100%;
      height: auto; }
    .hot_rent-block .block-content .item .img:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(0, 194, 194, 0.9) url("../images/item-hover.svg") no-repeat center;
      background-size: 85px 61px;
      -webkit-transition: all 0.2s;
      -khtml-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      opacity: 0; }
    .hot_rent-block .block-content .item .img:hover:after {
      opacity: 1; }
  .hot_rent-block .block-content .item .price {
    padding: 10px 20px;
    background-color: #333333; }
    .hot_rent-block .block-content .item .price p {
      margin: 0;
      font-size: 20px;
      color: #FFFFFF;
      font-weight: bold; }
  .hot_rent-block .block-content .item .title {
    display: block;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 20px;
    padding: 0 20px; }
  .hot_rent-block .block-content .carousel-control {
    width: 0;
    height: 70%;
    background-image: none; }
    .hot_rent-block .block-content .carousel-control .icon-prev {
      margin-left: -50px;
      width: 40px;
      height: 40px;
      background: url("../images/slider-prev.svg") no-repeat center;
      background-size: 40px 40px; }
      .hot_rent-block .block-content .carousel-control .icon-prev:before {
        content: ''; }
    .hot_rent-block .block-content .carousel-control .icon-next {
      margin-right: -50px;
      width: 40px;
      height: 40px;
      background: url("../images/slider-next.svg") no-repeat center;
      background-size: 40px 40px; }
      .hot_rent-block .block-content .carousel-control .icon-next:before {
        content: ''; }

.sale-block {
  padding-bottom: 0; }

.rent-block {
  padding-bottom: 0;
  background-color: #CCCCCC; }

.calculator-block {
  height: auto; }
  .calculator-block .calculator {
    float: left;
    padding: 25px 15px;
    background-color: #CCCCCC;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .calculator-block .calculator .tabs-navigation {
      float: left;
      list-style-type: none;
      margin: 0;
      padding: 0;
      border: none; }
      .calculator-block .calculator .tabs-navigation li {
        float: left;
        margin-right: 25px; }
        .calculator-block .calculator .tabs-navigation li a {
          padding: 0;
          font-size: 24px;
          font-weight: bold;
          text-decoration: none;
          color: #333333;
          -webkit-transition: all 0.2s;
          -khtml-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          cursor: pointer;
          background: none;
          border: none; }
        .calculator-block .calculator .tabs-navigation li:last-child {
          margin-right: 0; }
        .calculator-block .calculator .tabs-navigation li:hover a, .calculator-block .calculator .tabs-navigation li.active a {
          background: none;
          border: none;
          color: #FF5400; }
    .calculator-block .calculator .tab-content {
      float: left;
      max-width: 100%;
      width: 100%;
      margin-top: 15px;
      height: auto;
      -webkit-transition: all 0.2s;
      -khtml-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .calculator-block .calculator .tab-content .selects-block .bootstrap-select:last-child .btn {
        border-right: none;
        border-radius: 0 5px 5px 0; }
      .calculator-block .calculator .tab-content .selects-block .bootstrap-select:first-child .btn {
        border-radius: 5px 0 0 5px; }
      .calculator-block .calculator .tab-content input[type="submit"] {
        width: 100%;
        margin-top: 15px;
        background-color: #FF5400;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase; }
      .calculator-block .calculator .tab-content .price {
        margin-top: 15px;
        font-size: 18px;
        color: #999999; }
        .calculator-block .calculator .tab-content .price span {
          color: #FF5400;
          font-weight: bold; }
      .calculator-block .calculator .tab-content .tab-pane {
        float: left;
        height: 170px; }
        .calculator-block .calculator .tab-content .tab-pane p {
          color: #999999; }
  .calculator-block .map {
    position: relative;
    padding: 25px 15px; }
    .calculator-block .map .title {
      font-size: 24px;
      font-weight: bold; }
    .calculator-block .map svg {
      max-width: 100%;
      width: 100%;
      height: auto;
      padding-left: 50px; }

footer {
  background-color: #333333;
  padding: 25px 0 35px; }
  footer .copyright {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 300; }
  footer .footer-links {
    float: left;
    list-style-type: none;
    margin: 0 60px 0 0;
    padding: 0; }
    footer .footer-links:last-child {
      margin-right: 0; }
    footer .footer-links li {
      margin: 0;
      padding: 0; }
      footer .footer-links li a {
        display: block;
        font-size: 9px;
        color: #FFFFFF; }
        footer .footer-links li a:hover {
          text-decoration: underline; }
  footer .social-block p {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF; }
  footer .social-block .social-links {
    margin: 0;
    padding: 0; }
    footer .social-block .social-links li {
      float: left;
      margin-right: 12px; }
      footer .social-block .social-links li a {
        display: block; }
        footer .social-block .social-links li a img {
          width: 30px;
          height: 30px; }
  footer .social-block .dev-links {
    width: 100%;
    margin-top: 30px;
    float: right; }
    footer .social-block .dev-links li {
      float: right;
      margin-left: 40px; }
      footer .social-block .dev-links li img {
        width: 100%;
        max-width: 15px; }
