@import "variables";

//Import mixins and media-queries
@import "mixins/css3-mixins";
@import "mixins/media-queries";

body {
	color: $color_2;
}


header {
	position: relative;
	// height: 100px;
	background: $color_2;
	.logo {
		padding: 0;
		margin-top: -35px;
	}
	.links-block {
		position: relative;
		height: 50px;
		background-color: $color_5;
		.logo-support {
			margin-top: 10px;
			p {
				float: left;
				line-height: 2.7;
				font-size: 10px;
				text-transform: uppercase;
				font-weight: bold;
				color: $color_3;
			}
			img {
				margin-left: 15px;
				max-width: 110px;
			}
		}
		.links {
			position: relative;
			float: right;
			margin-top: 10px;
			padding: 0;
			list-style-type: none;
			z-index: 1;
			li {
				float: left;
				margin: 0 30px 0 0;
				padding: 5px 0 5px 35px;
				&.location {
					background: url('../images/location-icon.svg') no-repeat center left 5px;
					background-size: 16px 20px;
				}
				&.signin {
					background: url('../images/signin-icon.svg') no-repeat center left 5px;
					background-size: 23px 20px;
				}
				&.signup {
					background: url('../images/signup-icon.svg') no-repeat center left 5px;
					background-size: 23px 20px;
				}
				&.advertisers {
					background: url('../images/advertisers-icon.svg') no-repeat center left 5px;
					background-size: 23px 20px;
				}
				a {
					font-size: 12px;
					color: $color_1;
					font-weight: bold;
					img {
						float: left;
						margin-right: 5px;
					}
				}
				.dropdown-menu {
					min-width: 0;
					padding: 0 0 10px 0;
					@include border-radius(0);
					li {
						margin: 0;
						padding: 0;
						float: none;
						a {
							font-weight: 300;
						}
					}
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: -50px;
			width: 95px;
			height: 50px;
			-webkit-transform: skew(60deg);
			-moz-transform: skew(60deg);
			-o-transform: skew(60deg);
			background: $color_5;
		}
		// &:after {
		//   position: absolute;
		//   content: '';
		//   top: 0;
		//   right: -50%;
		//   width: 100%;
		//   height: 50px;
		//   background: $color_5;
		// }
	}
	.advert-count {
		float: left;
		p {
			margin: 15px 15px 0;
			font-size: 9px;
			line-height: 1.2;
			color: $color_4;
			span {
				font-weight: bold;
			}
		}
	}
	nav {
		&.navbar-default {
			background: none;
			border: none;
			margin: 0;
		}
		#main-menu {
			margin-top: 10px;
			list-style-type: none;
			li {
				border: solid 2px transparent;
				@include border-radius(5px);
				a {
					color: $color_5;
					padding: 3px 10px 5px;
					text-decoration: none;
					text-transform: uppercase;
					.caret {
						@include transition(all 0.2s);
					}
					&:hover, &:active, &:focus {
						background: none;
						&:active, &:focus {
							.caret {
								-ms-transform: rotate(180deg);
								-webkit-transform: rotate(180deg);
								transform: rotate(180deg);
							}
						}
					}
				}
				.dropdown-menu {
					left: 0;
					top: 38px;
					background: $color_2;
					li {
						@include border-radius(0);
						&:hover {
							background: $color_6;
						}
						a {
							color: $color_5;
						}
					}
				}
				&.extra {
					&.advert {
						padding-left: 25px;
						background: url('../images/plus-icon.svg') no-repeat center left 15px;
						background-size: 10px 10px;
					}
					&.open {
						&:hover, &:active, &:focus {
							background: none;
						}
					}
					border: solid 2px $color_1;
					a {
						color: $color_1;
					}
				}
			}
		}
	}
}


.block {
	width: 100%;
	padding: 25px 0;
	.block-header {
		margin-bottom: 15px;
		.title {
			float: left;
			font-size: 28px;
			font-weight: bold;
			color: $color_1;
		}
		ul {
			margin-top: 15px;
			float: left;
			list-style-type: none;
			li {
				float: left;
				margin-right: 15px;
				a {
					display: block;
					float: left;
					font-size: 14px;
					color: $color_2;
					font-weight: bold;
					text-decoration: none;
					span {
						display: inline-block;
						width: 18px;
						height: 18px;
						font-size: 12px;
						color: $color_5;
						background-color: $color_1;
						border-radius: 50%;
						text-align: center;
					}
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.block-content {
		.row {
			&:last-child {
				margin-bottom: 0;
			}
		}
		.block-content_item {
			margin-bottom: 25px;
			.img {
				position: relative;
				img {
					max-width: 100%;
					width: 100%;
					height: auto;
				}
				&:after {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					content: '';
					background: rgba($color_1, 0.9) url('../images/item-hover.svg') no-repeat center;
					background-size: 70px 50px;
					@include transition(all 0.2s);
					opacity: 0;
				}
				&:hover {
					&:after {
						opacity: 1;
					}
				}
			}
			.price {
				padding: 10px 5px;
				background-color: $color_2;
				p {
					margin: 0;
					color: $color_5;
					font-weight: bold;
				}
			}
			.title {
				display: block;
				color: $color_2;
				font-size: 14px;
				font-weight: bold;
				margin: 10px 0 0;
				padding: 0 5px;
			}
		}
	}
	&.banner-block {
		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
	&#banner-first {
		padding-bottom: 0;
	}
	&#banner-second {
		padding-top: 0;
	}
}

.atmosphere-block {
	min-height: 300px;
	background: url('../images/atmosphere-bg.jpg') no-repeat top 30% center;
	background-size: cover;
	.filter-block {
		margin-top: 50px;
		outline: dotted 1px #000;
	}
}

.hot_rent-block {
	background-color: $color_1;
	.block-header {
		.title {
			text-transform: uppercase;
			color: $color_5;
		}
		.link {
			display: block;
			float: right;
			text-decoration: none;
			text-align: center;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
			color: $color_5;
			border: solid 2px $color_5;
			@include border-radius(5px);
			padding: 5px;
			margin-top: 5px;
		}
	}
	.block-content {
		#hot-carousel-generic {
			.carousel-indicators {
				bottom: -20px;
				li {
					&.active {
						background-color: $color_6;
					}
				}
			}
		}
		.item {
			.img {
				position: relative;
				img {
					max-width: 100%;
					width: 100%;
					height: auto;
				}
				&:after {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					content: '';
					background: rgba($color_6, 0.9) url('../images/item-hover.svg') no-repeat center;
					background-size: 85px 61px;
					@include transition(all 0.2s);
					opacity: 0;
				}
				&:hover {
					&:after {
						opacity: 1;
					}
				}
			}
			.price {
				padding: 10px 20px;
				background-color: $color_2;
				p {
					margin: 0;
					font-size: 20px;
					color: $color_5;
					font-weight: bold;
				}
			}
			.title {
				display: block;
				color: $color_5;
				font-size: 14px;
				font-weight: bold;
				margin: 5px 0 20px;
				padding: 0 20px;
			}
		}
		.carousel-control {
			width: 0;
			height: 70%;
			background-image: none;
			.icon-prev {
				margin-left: -50px;
				width: 40px;
				height: 40px;
				background: url('../images/slider-prev.svg') no-repeat center;
				background-size: 40px 40px;
				&:before {
					content: '';
				}
			}
			.icon-next {
				margin-right: -50px;
				width: 40px;
				height: 40px;
				background: url('../images/slider-next.svg') no-repeat center;
				background-size: 40px 40px;
				&:before {
					content: '';
				}
			}
		}
	}
}

.sale-block {
	padding-bottom: 0;
}

.rent-block {
	padding-bottom: 0;
	background-color: $color_4;
}

.calculator-block {
	height: auto;
	.calculator {
		float: left;
		// height: 265px;
		padding: 25px 15px;
		background-color: $color_4;
		@include border-radius(5px);
		.tabs-navigation {
			float: left;
			list-style-type: none;
			margin: 0;
			padding: 0;
			border: none;
			li {
				float: left;
				margin-right: 25px;
				a {
					padding: 0;
					font-size: 24px;
					font-weight: bold;
					text-decoration: none;
					color: $color_2;
					@include transition(all 0.2s);
					cursor: pointer;
					background: none;
					border: none;
				}
				&:last-child {
					margin-right: 0;
				}
				&:hover, &.active {
					a {
						background: none;
						border: none;
						color: $color_1;
					}
				}
			}
		}
		.tab-content {
			float: left;
			max-width: 100%;
			width: 100%;
			margin-top: 15px;
			height: auto;
			@include transition(all 0.2s);
			.selects-block {
				.bootstrap-select:last-child {
					.btn {
						border-right: none;
						border-radius: 0 5px 5px 0;
					}
				}
				.bootstrap-select:first-child {
					.btn {
						border-radius: 5px 0 0 5px;
					}
				}
			}
			input[type="submit"] {
				width: 100%;
				margin-top: 15px;
				background-color: $color_1;
				color: $color_5;
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
			}
			.price {
				margin-top: 15px;
				font-size: 18px;
				color: $color_3;
				span {
					color: $color_1;
					font-weight: bold;
				}
			}
			.tab-pane {
				float: left;
				height: 170px;
				p {
					color: $color_3;
				}
			}
		}
	}
	.map {
		position: relative;
		padding: 25px 15px;
		.title {
			font-size: 24px;
			font-weight: bold;
		}
		svg {
			max-width: 100%;
			width: 100%;
			height: auto;
			padding-left: 50px;
		}
	}
}

footer {
	background-color: $color_2;
	padding: 25px 0 35px;
	.copyright {
		font-size: 12px;
		color: $color_5;
		font-weight: 300;
	}
	.footer-links {
		float: left;
		list-style-type: none;
		margin: 0 60px 0 0;
		padding: 0;
		&:last-child {
			margin-right: 0;
		}
		li {
			margin: 0;
			padding: 0;
			a {
				display: block;
				font-size: 9px;
				color: $color_5;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.social-block {
		p {
			font-size: 16px;
			font-weight: bold;
			color: $color_5;
		}
		.social-links {
			margin: 0;
			padding: 0;
			li {
				float: left;
				margin-right: 12px;
				a {
					display: block;
					img {
						width: 30px;
						height: 30px;
					}
				}
			}
		}
		.dev-links {
			width: 100%;
			margin-top: 30px;
			float: right;
			li {
				float: right;
				margin-left: 40px;
				img {
					width: 100%;
					max-width: 15px;
				}
			}
		}
	}
}
